* {
  text-align: center;
  text-transform: capitalize;
  font-variant: small-caps;
  background-color: rgb(17, 17, 17);
}

.main {
  width: 50%;
  height: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px rgb(9, 223, 238);
  background-color: rgb(10, 10, 10);
  color: rgba(240, 248, 255, 0.76);
}